<h1>Update details</h1>
<div class="col-md-6 col-md-offset-3">
  <div class="gravatar_edit row">
    <div class="row">
      <%= gravatar_for @user %>
    </div>
    <div class="row">
      <a href="http://gravatar.com/emails" target="_blank">edit</a>
    </div>
  </div>
</div>
<%= render 'edit_form', user: @user %>
